.my_dropdown {
  border: 1px solid #aea9b1 !important;
  border-radius: 5px;
  background: #ffffff;
}
.my_dropdown .rs-dropdown-toggle {
  width: 100%;
}
.rs-dropdown-toggle, .rs-dropdown-toggle.rs-btn{
    display: flex;
    color: #000000;
}
.rs-btn {
  justify-content: space-between;
}
